{% extends "sales/layout.html" %}
{% load static %}
{% block body %}

    <h2>Daily Report Selection</h2>

    

    <form action="{% url 'daily_reports' %}" method="post">
        {% csrf_token %}
        <h6>Hotel:</h6>
        <select class="form-control" name="hotel" id="">
            <option value="0">Select Hotel </option>
            {% for hotel in hotels %}
                <option value="{{ hotel.id }}">{{ hotel }}</option>
            {% endfor %}
        </select>
        <br>
        <h6>Employee:</h6>
        <select class="form-control" name="employee" id="">
            <option value="0">Select Employee </option>
            {% for employee in employees %}
                <option value="{{ employee.id }}">{{ employee }}</option>
            {% endfor %}
        </select>
        <br>
        <input  class="form-control" type="date" name="date" id="" required>
        
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>



{% endblock %}