{% extends "sales/layout.html" %}
{% load static %}
{% block body %}

    <h2>Daily Report: {{ date }}</h2>
    {% if hotel != "" %}
    <h2>Hotel: {{ hotel }}</h2>
    {% else %}
    <h2>Employee: {{ employee }}</h2>
    {% endif %} 
    <br>
    <h4>Cash Flow (In USD)</h4>
    <table class="table table-sm table-striped">
        <thead>
            <th style="width: 14%">US Dollar</th>
            <th style="width: 14%">Canadian Dollar</th>
            <th style="width: 14%">Dominican Peso</th>
            <th style="width: 14%">Euro</th>
            <th style="width: 14%">Visa</th>
            <th style="width: 14%">Master Card</th>
            <th style="width: 14%">Amex</th>
        </thead>
        <tbody>
            <tr>
                <td>${{ usd_total}}</td>
                <td>${{ cdn_total }}</td>
                <td>${{ rd_total }}</td>
                <td>${{ euro_total }}</td>
                <td>${{ visa_total }}</td>
                <td>${{ mc_total }}</td>
                <td>${{ amex_total }}</td>
            </tr>
        </tbody>
    </table>
    <h4>Activity Sales in USD</h4>
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                {%for act in act_list|slice:":8" %}
                <th style="width: 12%">{{ act }}</th>
                {% endfor %}
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    {%for sales in sales_numbers|slice:":8" %}
                        <td style="width: 12%">${{ sales }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {%for act in act_list|slice:"8:16" %}
                        <th style="width: 12%">{{ act }}</th>
                    {% endfor %}
                    </tr>
                    <tr>
                    {%for sales in sales_numbers|slice:"8:16" %}
                        <td style="width: 12%">${{ sales }}</td>
                    {% endfor %}
                    </tr>
                    <tr>
                    {%for act in act_list|slice:"16:24" %}
                        <th style="width: 12%">{{ act }}</th>
                    {% endfor %}
                    </tr>
                    <tr>
                    {%for sales in sales_numbers|slice:"16:24" %}
                        <td style="width: 12%">${{ sales }}</td>
                    {% endfor %}
                    </tr>
                    <tr>
                    {%for act in act_list|slice:"24:32" %}
                        <th style="width: 12%">{{ act }}</th>
                    {% endfor %}
                    </tr>
                    <tr>
                    {%for sales in sales_numbers|slice:"24:32" %}
                        <td style="width: 12%">${{ sales }}</td>
                    {% endfor %}
                    </tr>
                    {%for act in act_list|slice:"32:40" %}
                        <th style="width: 12%">{{ act }}</th>
                    {% endfor %}
                    </tr>
                    <tr>
                    {%for sales in sales_numbers|slice:"32:40" %}
                        <td style="width: 12%">${{ sales }}</td>
                    {% endfor %}
                    </tr>
                    {%for act in act_list|slice:"40:48" %}
                        <th style="width: 12%">{{ act }}</th>
                    {% endfor %}
                    </tr>
                    <tr>
                    {%for sales in sales_numbers|slice:"40:48" %}
                        <td style="width: 12%">${{ sales }}</td>
                    {% endfor %}
                    </tr>
            
        
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Total Sales:</td>
                    <th>${{ sales_total }}</td>
                </tr>
            </tbody>
    </table>

    <h4>Tickets</h4>
    <table class="table table-sm table-striped">
        <thead>
            <th style="width: 14%">Ticket #</th>
            <th style="width: 14%">Room #</th>
            <th style="width: 14%">Payment Type</th>
            <th style="width: 14%">Cost</th>
            <th style="width: 14%">Sold By</th>
            <th style="width: 14%">Office</th>
            <th style="width: 14%"> </th>
        </thead>
        <tbody>
            {%for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.room_number }}</td>
                <td>{{ ticket.payment }}</td>
                <td>${{ ticket.total_cost }}</td>
                <td>{{ ticket.seller }}</td>
                <td>{{ ticket.office }}</td>     
                {% if is_super or is_management %}
                <td>
                    <form action="{% url 'refund' ticket.id %}" method="post">
                        {% csrf_token %}
                    <input class="btn btn-danger btn-sm" type="submit" name="refund" value="Refund" onclick="return confirm('Are you sure?')">
                    </form>
                </td>
                {% endif %} 
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}