{% extends "sales/layout.html" %}
{% load static %}
{% block body %}

    <h2>Sales</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <button class="btn btn-sm btn-outline-primary" id="insertrow2" data-info='insertrow2' onclick='row2();'>+</button>
    <button style="display: none;" class="btn btn-sm btn-outline-primary" id="insertrow3" data-info='insertrow3' onclick='row3();'>+</button>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                <th style="width: 10%">Quantity</th>
                <th style="width: 60%">Activity</th>
                <th style="width: 30%">Price</th>
                </tr>
            </thead>
            <tbody>
                <div>
                <tr id="row1">
                    <td><input class="form-control form-control-lg" id="quantity1" name="quantity1" type="number" placeholder="Quantity" min=0 required></td>
                    <td>
                        <select class="form-control form-control-lg" name="activity1" id="" required>
                            <option label=" "></option>
                            {% for activity in activities %}
                                <option value="{{ activity.id }}">{{ activity }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input class="form-control form-control-lg" id="price1" name="price1" type="number" placeholder="Price" min=0 required></td>
                </tr>
                </div>
                <br>
                <div>
                    <tr id="row2" style="display: none;">
                        <td><input class="form-control form-control-lg" id="quantity2" name="quantity2" type="number" placeholder="Quantity" min=0 value=0></td>
                        <td>
                            <select class="form-control form-control-lg" name="activity2" id="">
                                <option label=" "></option>
                                {% for activity in activities %}
                                    <option value="{{ activity.id }}">{{ activity }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input class="form-control form-control-lg" id="price2" name="price2" type="number" placeholder="Price" min=0 value=0></td>
                    </tr>
                </div>
                <br>
                <div>
                    <tr id="row3" style="display: none;">
                        <td><input class="form-control form-control-lg" id="quantity3" name="quantity3" type="number" placeholder="Quantity" min=0 value=0></td>
                        <td>
                            <select class="form-control form-control-lg" name="activity3" id="">
                                <option label=" "></option>
                                {% for activity in activities %}
                                    <option value="{{ activity.id }}">{{ activity }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input class="form-control form-control-lg" id="price3" name="price3" type="number" placeholder="Price" min=0 value=0></td>
                    </tr>
                </div>         
            </tbody>
        </table>
        <h6>Hotel:</h6>
        <select class="form-control form-control-lg" name="hotel" id="">
            {% for hotel in hotels %}
                <option value="{{ hotel.id }}">{{ hotel }}</option>
            {% endfor %}
        </select>
        <br>
        <h6>Sold By:</h6>
        <select class="form-control form-control-lg" name="employee" id="">
            {% for employee in employees %}
                <option value="{{ employee.id }}">{{ employee }}</option>
            {% endfor %}
        </select>
        <br>
        <h6>Payment:</h6>
        <select class="form-control form-control-lg" name="payment" id="">
            <option value="US Dollar">US Dollar</option>
            <option value="Dominican Peso">Dominican Peso</option>
            <option value="Euro">Euro</option>
            <option value="Canadian Dollar">Canadian Dollar</option>
            <option value="Visa">Visa</option>
            <option value="Master Card">Master Card</option>
            <option value="Amex">Amex</option>           
        </select>
        <br>
        <h6>Pickup Location:</h6>
        <select class="form-control form-control-lg" name="pick_up" id="">
            <option value="Dive Center">Dive Center</option>
            <option value="Lobby">Lobby</option>                       
        </select>
        <br>
        <h6>Client Information:</h6>
        <input class="form-control form-control-lg" name="room" type="number" placeholder="Room Number">
        <input class="form-control form-control-lg" type="text" name="client_name" placeholder="Client Name" required>
        <input class="form-control form-control-lg" type="email" name="email" placeholder="Client Email" required>
        <br>
        <h6>Activity Date/Time</h6>
        <input class="form-control form-control-lg" type="date" name="activity_date" id="" required>
        <input class="form-control form-control-lg" type="time" name="activity_time" id="" required>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="Mariana" checked>
            <label class="form-check-label" for="Radios1">
                Mariana
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="Concessionaire">
            <label class="form-check-label" for="Radios2">
                Concessionaire
            </label>
          </div>
          <br>
          <h4>Comments</h4> 
            <div class="form-group">
                <textarea class="form-control" id="comment" name="comment" rows="4" cols="50" placeholder="Comments"></textarea>
            </div>
        <br><br>
        <input class="btn btn-primary" type="submit" value="Submit" onclick="return confirm(total_sale()) ">

    </form>
    <br>
    
 
{% endblock %}