{% extends "sales/layout.html" %}
{% load static %}
{% block body %}
{% if is_super %}

    <h2>{% if date != "" %}Daily Report: {{ date }}{% else %}{% if month != "0" %}Monthly Report: {% else %}Yearly Report: {% endif %} {{ year }}{% if month != "0" %} - {{ month }} {% endif %} {% endif %}</h2>
    
    {% if hotel %}
        <h2>Hotel: {{ hotel }}</h2>

    {% endif %}
    {% if employee %}
        <h2>Employee: {{ employee }}</h2>
    {% endif %}
    <br>
    

    

    <h4>Activity Sales in USD</h4>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
            {%for act in act_list|slice:":8" %}
            <th style="width: 12%">{{ act }}</th>
            {% endfor %}
            </tr>
            
        </thead>
        <tbody>
            <tr>
                {%for sales in sales_numbers|slice:":8" %}
                    <td style="width: 12%">${{ sales }}</td>
                {% endfor %}
            </tr>
            <tr>
                {%for act in act_list|slice:"8:16" %}
                    <th style="width: 12%">{{ act }}</th>
                {% endfor %}
                </tr>
                <tr>
                {%for sales in sales_numbers|slice:"8:16" %}
                    <td style="width: 12%">${{ sales }}</td>
                {% endfor %}
                </tr>
                <tr>
                {%for act in act_list|slice:"16:24" %}
                    <th style="width: 12%">{{ act }}</th>
                {% endfor %}
                </tr>
                <tr>
                {%for sales in sales_numbers|slice:"16:24" %}
                    <td style="width: 12%">${{ sales }}</td>
                {% endfor %}
                </tr>
                <tr>
                {%for act in act_list|slice:"24:32" %}
                    <th style="width: 12%">{{ act }}</th>
                {% endfor %}
                </tr>
                <tr>
                {%for sales in sales_numbers|slice:"24:32" %}
                    <td style="width: 12%">${{ sales }}</td>
                {% endfor %}
                </tr>
                {%for act in act_list|slice:"32:40" %}
                    <th style="width: 12%">{{ act }}</th>
                {% endfor %}
                </tr>
                <tr>
                {%for sales in sales_numbers|slice:"32:40" %}
                    <td style="width: 12%">${{ sales }}</td>
                {% endfor %}
                </tr>
                {%for act in act_list|slice:"40:48" %}
                    <th style="width: 12%">{{ act }}</th>
                {% endfor %}
                </tr>
                <tr>
                {%for sales in sales_numbers|slice:"40:48" %}
                    <td style="width: 12%">${{ sales }}</td>
                {% endfor %}
                </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Total Sales:</td>
                <th>${{ sales_total }}</td>
            </tr>
        </tbody>
    </table>
    {% if date != "" %}
    <h4>Tickets</h4>
    <table class="table table-sm table-striped">
        <thead>
            <th style="width: 20%">Ticket #</th>
            <th style="width: 20%">Room #</th>
            <th style="width: 20%">Payment Type</th>
            <th style="width: 20%">Cost</th>
            <th style="width: 20%">Sold By</th>
        </thead>
        <tbody>
            {%for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.room_number }}</td>
                <td>{{ ticket.payment }}</td>
                <td>${{ ticket.total_cost }}</td>
                <td>{{ ticket.seller }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        
    {% endif %}


    {% endif %}
{% endblock %}