{% extends "sales/layout.html" %}
{% load static %}
{% block body %}

    <h2>New Hotel</h2>

    {% if message %}
    <div class="alert alert-primary" role="alert">{{ message }}</div>
    <br>
    {% endif %}

    <form action="{% url 'hotel' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="hotel_name" placeholder="Hotel Name" required>
        </div>
        
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>



{% endblock %}