{% extends "sales/layout.html" %}
{% load static %}
{% block body %}

    <h2>New Employee</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'new_employee' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="first_name" placeholder="First Name" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="last_name" placeholder="Last Name" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="telephone" placeholder="Phone Number">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="id_number" placeholder="ID Number" required>
        </div>

        <input class="btn btn-primary" type="submit" value="Submit">
    </form>



{% endblock %}